<h1>Log In</h1>

<%= render "layouts/errors" %>

<form action='/session' method="POST">
    <%= auth_token %>

    <label for='user_email'>Username</label>
    <input
        type="text"
        name="user[email]"
        id="user_email">

    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password">

    <input type="submit" value="Log In">
</form>