<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to my Music App, <%= @user.email %>!</h1>
    <p>
      You have successfully signed up! To activate your account,
      follow this <a href="<%= @url %>".>Link!</a> 
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>